footer{
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ffffff2a;
    margin-top: 50px;
}

footer section{
    margin-bottom: 25px;
}

footer section h3{
    margin-top: 20px;
    font-weight: 400;
    text-align: center;

    border-left: 10px solid #a933eed8;
    border-radius: 5px;
    background-color: #ffffff16;
}

.contact{
    text-align: center;
}

.project{
    width: 200px;
}

.links-social-media, .link-project{
    text-decoration: none;
}

.social-media-container{
    position: relative;
    top: 25%;
}

.project-container{
    position: relative;
    top: 30%;
}

.project div a{

    font-size: 15px;

}

.project div a:hover{

    font-size: 20px;
    transition: 0.5s;

}

.social-media-container{

    position: relative;
    top: 50px;

}

.social-media-container a{

    margin: 8px;

}

.social-media-container a svg:hover{

    transform: scale(1.3);
    transition: transform 0.5s;

}

.social-media-container a img:hover{

    transform: scale(1.3);
    transition: transform 0.5s;

}

.form-container h3{
    margin-bottom: 10px;
}

form{
    width: 100%;
}

form label{
    color: #aa33ee;
    text-shadow: 0px 1px 15px #ffffff82;
    display: block;
    margin: 5px 0px;
}

.inputs{
    display: flex;
    justify-content: left;
    gap: 50px;
    margin-bottom: 15px;
}

#name, #email, #text-box{
    border: none;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 5px;
}

input{
    width: 140px;
    padding: 4px;
    margin-left: 0px;
}

.input-name label, .input-email label{
    text-align: left;

}

input, textarea{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#name:focus{

    transform: scale(1.1);
    transition: transform 0.4s;

} 

#email:focus{

    transform: scale(1.1);
    transition: transform 0.4s;

} 

textarea:focus{
    transform: scale(1.1);
    transition: transform 0.5s;
}




input::placeholder{
    color: rgba(255, 255, 255, 0.622);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-style: italic;
    letter-spacing: none;
}

textarea::placeholder{
    color: rgba(255, 255, 255, 0.622);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-style: italic;
    padding: 2px;
}

#button{
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0px 1px 15px #ffffff82;
    background-color: #a933eed8;
    border: 1px solid #ffffff2a;
    border-radius: 5px;
    margin-top: 9px;
    width: 100%;
}

#button:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.3s;
}

/*Project animation*/

@keyframes final-site{

    from{
        transform: translateY(250px);
    }

    top{
        transform: translateY(0);
    }

}

footer{
    animation: final-site 1s 1 backwards;
}

/*footer titles*/

@keyframes letter-animation {

    from{

        letter-spacing: none;

    }

    to{

        letter-spacing: 1.8px;

    }
    
}

footer section h3{
    animation: letter-animation 1.5s 1.3s infinite alternate;
}

/*Responsividade*/

@media(max-width: 940px){

    footer{
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .contact{
        display: flex;
        justify-content: center;
    }

    .social-media{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social-media h3{
        margin-bottom: 15px;
        display: inline-block;
        padding-left: 105px;
        padding-right: 105px;
    }

    .social-media-container{

        position: relative;
        top: 15px;
    
    }

    .project{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .project h3{
        position: relative;
        right: 5px;
        font-size: 15px;
        margin-bottom: 15px;
        display: inline-block;
        padding-left: 100px;
        padding-right: 120px;
        margin-left: 10px;
    }



}





